/*
Theme Name: Powerful Body & Mind
Theme URI: http://www.powerfulbodyandmind.com
Description: Powerful Body & Mind Blog Theme
Author: Powerful Body & Mind
Author URI: http://www.powerfulbodyandmind.com
Template: salient
Version: 0.1
*/

/* FONTS
$sofia: 'sofia-pro', sans-serif;
$caslon: 'adobe-caslon-pro',serif;
$open-sans: 'Open Sans', sans-serif;
$marydale: 'marydale', sans-serif;
*/

/* General Styling */

body, p, body em, ul li, p strong, h1, h2, h3, .single #single-below-header span  {
  font-family: 'sofia-pro', sans-serif !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

header#top nav > ul > li > a {
  font-family: 'sofia-pro', sans-serif !important;
  color: #ffffff !important;
  font-weight: 300 !important;
}

/* Masonry Boxes */

.masonry.classic_enhanced .masonry-blog-item h3.title {
  font-family: 'sofia-pro', sans-serif !important;
  color: #2f2f2f !important;
  font-size: 32px !important;
  line-height: 1.1 !important;
  font-weight: 700 !important;
}

.masonry.classic_enhanced .post-header {
  font-family: 'sofia-pro', sans-serif !important;
}

.post-meta .meta-author {
  display: none;
}

.meta-category {
  display: none !important;
}

.masonry.classic_enhanced article.post .excerpt {
  color: #2f2f2f !important;
  font-weight: 300 !important;
  line-height: 1.5 !important;
}

/* Single Post */

.single #single-below-header >span:nth-child(1) {
  display: none !important;
}

.single #single-below-header >span:nth-child(2) {
  border-left: none !important;
}

body.single-post .heading-title[data-header-style="default_minimal"] .entry-title {
  font-family: "marydale", sans-serif !important;
  font-size: 40px !important;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7) !important;
  margin-bottom: 0px;
  color: #ffffff !important;
}

.blog_next_prev_buttons .inner i {
  font-family: 'sofia-pro', sans-serif !important;
  font-weight: 300 !important;
}

.blog_next_prev_buttons h3 {
  font-family: "marydale", sans-serif !important;
  font-size: 40px !important;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7) !important;
}

article.post .post-content p, article.post .post-content p em {
  font-weight: 300 !important;
  line-height: 1.5 !important;
  color: #2f2f2f !important;
}

article.post .post-content p strong {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  color: #2f2f2f !important;
}

article.post .post-content ul li {
  font-weight: 300 !important;
  line-height: 1.5 !important;
  color: #2f2f2f !important;
}
